<ion-content class="ion-padding">
    <p>¿Por qué no puedo acceder?</p>
    <p style="text-align: justify">R: Para poder acceder a la apliación necesita comunicarse con el area de TI 
       para que se le pueda proporcionar el acceso.
    </p>
    <p>¿Qué es 'Desconectar'?</p>
    <p style="text-align: justify">R: El acceso a la aplicaion es mediante su correo de Gmail, esto provoca 
       que usted tenga un tiempo determinado de sesión, al termino de esta cantidad
       de tiempo le sera imposible acceder de nueva cuenta, ya que 
       necesita obtener más tiempo de sesion. El boton 'Desconectar' tiene la
       funcionalidad de obtener dicho tiempo, el boton deber ser presionado
       en caso de que al tratar de acceder con Gmail le aparezca un mensaje de 'sesion terminada'.
    </p>
  </ion-content>
