.form-item {
    font-size: smaller;
    position: relative;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    --width: 100%;
    --min-height: 30px;

    &-label {
        font-family: Poppins-Light;
    }

    &-input {
        text-transform: uppercase;
    }
}

.form-item.item-has-focus {
    border: solid 1px var(--ion-color-podemos-level-one);
}

.error-input {
    .error-msg {
        padding-left: 10px;
        padding-top: 4px;
        font-size: smaller;
        font-family: Poppins-Regular;
    }
}

.is-invalid {
    border: solid 1px !important;
    border-color: #dc3545 !important;
}