<ion-content>
  
  <ion-row class="welcome">
    <ion-col size="12">
      <ion-text color="morena">
        <h1 class="welcome-text">BIENVENIDO</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="content-logo">
      <ion-img class="logo" src="assets/icon/logo.jpeg"></ion-img>
    </ion-col>
  </ion-row>
  
  <ion-button expand="full" icon-left shape="round" color="morena" (click)="login()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" class="ion-no-padding content-icon">
          <ion-icon color="light" name="logo-google"></ion-icon>
        </ion-col>
        <ion-col size="9" class="ion-no-padding">
          <ion-text color="light" class="ion-no-padding ion-no-margin">
            <h6 class="ion-no-padding">Inicia sesion con Google</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    
   
      
  </ion-button>
      <div style="padding-top: 5%;">
        <div style=" float: left; width: 48%;">
            <!-- <ion-button ion-col col-12 expand="full" icon-left shape="round" (click)="disconnect()">
                Desconectar
            </ion-button> -->
        </div>
        
      </div>
</ion-content>
