<ion-list class="group-card-list">
  <ion-item lines="none" class="item-list"
    >
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <ion-icon size="large" name="thumbs-up-outline"></ion-icon>
        </ion-col>
        <ion-col class="content-info" size="9">
          <ion-label>
            <h2>Invitacion a Estudios de Primaria</h2>
            <h3 class="success">Se ofrece un servicio...</h3>
            <p>2022-04-01</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>